<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">Menu item 1</a>
    <a href="#" class="list-group-item list-group-item-action">Menu item 2</a>
    <a href="#" class="list-group-item list-group-item-action">Menu item 3</a>
    <a href="#" class="list-group-item list-group-item-action">Menu item 4</a>
</div>